# Environment
.env
.env.*
!.env.example

# Node / logs
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Temp
/tmp/
